node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
!.env.example
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
data/*.sqlite*
assets/maps/originals/
assets/screenshots/originals/

# typescript
*.tsbuildinfo
